<div class='h-full my-18 p-10 mx-10 flex flex-col xl:grid grid-cols-2 gap-4'>
  <div class="bg-base-300 rounded-box p-5">
    <div class="text-3xl font-bold mb-5">Lojas Registradas</div>
    <hr />
    <%= render 'admins/lojas/lista', lojas: @lojas %>
  </div>
  <div class="bg-base-300 rounded-box p-5">
    <div class="text-3xl font-bold mb-5">Usuários Registrados</div>
    <hr />
  </div>
</div>
