<div class='h-full my-18 p-10 mx-10'>
  <div data-controller='inventarios' id='table' class='rounded-box h-full grid grid-rows-[1fr_20fr_1fr] bg-base-300'>
    <turbo-frame id="form_control" target='table-content'>
      <%= render 'items_de_compras/table_control', items: @items, ransack: @ransack_query %>
    </turbo-frame>
    <%= render 'items_de_compras/table', items: @items, ransack: @ransack_query %>
    <div class='flex border-t-2 border-base-100 items-center px-3 py-5 justify-between'>
      <%== pagy_info(@pagy, item_name: 'Items' .pluralize(@pagy.count)) %>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
