<%= turbo_frame_tag "panel" do %>
  <%= content_for :title do %>
    Início
  <% end %>
  <div>
    <h1 class="font-bold text-4xl">Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>
  </div>
<% end %>
