<div class='h-fit grid border-b-2 border-base-300 grid-cols-subgrid col-span-4'>
  <div class='p-2 border-r-2 border-base-300 text-center'> <%= item.nome %> </div>
  <div class='p-2 border-r-2 border-base-300 text-center'> <%= item.quantidade %> </div>
  <div class='p-2 border-r-2 border-base-300 text-center'> <%= item.porcao %> </div>
  <div class='p-2 border-r-2 border-base-300 text-center'> <%= item.observacoes %> </div>
</div>
