<div class="row-span-1 bg-gray-200 shadow-xl border-2 border-stone-400 rounded-md col-span-1 flex flex-col justify-center items-center">
  <div class='flex text-gray-800 w-full justify-center gap-3'>
    <span id='total_counter' class='text-[7rem] font-bold'><%= total_count %></span>
    <div class='flex flex-col stat-figure'>
      <span class='material-icons md-36'>inventory</span>
      <span class='stat-titel text-gray-500 text-1xl'>novos pedidos</span>
      <span class='stat-titel text-gray-500 text-1xl'>neste mẽs</span>
    </div>
  </div>
</div>
<div class='bg-gray-200 row-span-1 col-span-2 grid grid-cols-2 divide-x divide-gray-700 divide-dashed shadow-xl border-2 border-stone-400 rounded-md'>
  <div class="flex flex-1 justify-center gap-2 max-xl3:gap-3 xl:pl-5 w-full items-center">
    <span class='material-icons font-bold bg-green-500 md-48 gap-2 text-black px-3 py-5 rounded-lg'>done_all</span>
    <div id='stats_open_counter' class='text-[5rem] font-bold text-black'><%= finished_count %></div>
    <div class='text-gray-500 text-xl xl:w-1/2 flex-wrap'>Pedidos do mês finalizados</div>
  </div>
  <div class="flex flex-1 justify-center gap-2 max-xl3:gap-3 xl:pl-5 w-full items-center">
    <span class='material-icons font-bold bg-red-500 md-48 gap-2 text-black px-3 py-5 rounded-lg'>warning</span>
    <div id='stats_finished_counter' class='text-[5rem] font-bold text-black'><%= open_count %></div>
    <div class='text-gray-500 text-xl xl:w-1/2 flex-wrap'>Pedidos do mês em aberto</div> 
  </div>
</div>
