<div class="bg-white rounded-2xl col-span-2 p-4 row-span-5 shadow-2xl">
<%= turbo_frame_tag "table" do %>
    <table class="h-full w-full table-auto">
      <thead class="">
        <th class="text-left">Data</th>
        <th class="text-left">Origem</th>
        <th class="text-left">Status</th>
        <th class="text-left"></th>
      </thead>
      <tfoot>
        <tr><td>nav_stuff</td></tr>
      </tfoot>
      <tbody>
        <% @pedidos.each do |pedido| %>
          <tr>
            <td><%= pedido.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= pedido.loja.nome %></td>
            <td><%= pedido.status %></td>
            <td>
              <a class="inline-block rounded-xl bg-gray-700 px-3 py-3 text-sm font-medium text-white transition hover:shadow-xl focus:outline-none focus:ring active:bg-gray-900" href="#">
                Detalhes
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
</div>
