<div class='flex p-4'>
  <table class='flex-1 h-full table table-fixed'>
    <thead class='bg-gray-100'>
      <tr>
        <td class='py-2 px-1'>Data da Criação</td>
        <td>Origem do Pedido</td>
        <td>Status do Pedido</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @table_pedidos.each do |pedido| %>
        <% if pedido %>
          <tr>
            <td class='py-1'>dwad</td>
            <td>dwad</td>
            <td>dwad</td>
            <td>dwad</td>
          </tr>
        <% else %>
          <tr>
            <td class='py-1'>daad</td>
            <td>adwd</td>
            <td>adwdd</td>
            <td>wdajdwi</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
