<div class="row-span-1 bg-gray-200 shadow-xl border-2 border-stone-400 rounded-md col-span-1 flex flex-col justify-center items-center">
  <div class='flex text-gray-800 gap-2'>
    <span class='text-[5rem] font-semibold'><%= total_count %></span>
    <div class='flex flex-col stat-figure'>
      <span class='material-icons'>inventory</span>
      <span class='stat-titel text-gray-500 text-1xl'>novos pedidos</span>
      <span class='stat-titel text-gray-500 text-1xl'>neste mẽs</span>
    </div>
  </div>
</div>
