<turbo-frame id='pedido-details' class="my-auto mx-20">
  <div class='bg-base-300 p-20 relative shadow-xl rounded-box'>
    <a href='<%= pedido_path(@pedido) %>' data-turbo-action="advance" data-turbo-frame='_top' class="mi md-36 absolute top-3 hover:bg-base-100 transition-colors p-4  rounded-full left-3">
      arrow_back
    </a>
  <%= render 'pedidos/form', pedido: @pedido, titulo: "Editar Pedido", is_update: true %>
  </div>
</turbo-frame>
