<div class="my-auto mx-20" data-controller='pedidos--update-form' >
  <div class='grid justify-center bg-base-300 p-20 relative shadow-xl rounded-box'>
    <a href='/pedidos' class="mi md-36 absolute top-3 hover:bg-base-100 transition-colors p-4  rounded-full left-3">
      close
    </a>
  <%= render 'pedidos/form', pedido: @pedido, titulo: "Editar Pedido", is_update: true %>
  </div>
</div>
