<%= content_for :title do %>
  Pedidos
<% end %>

<%= turbo_frame_tag "panel" do %>
  <div class="h-full grid grid-cols-3 grid-rows-6 gap-4">
    <%= render "pedidos/table" %>
    <div class="bg-white rounded-xl shadow-2xl row-span-2">Info card</div>
    <div class="bg-white rounded-xl shadow-2xl row-span-1">Add</div>
    <div class="bg-white rounded-xl shadow-2xl row-span-1">Delete</div>
    <div class="bg-white rounded-xl shadow-2xl col-span-3 row-span-2">Bottom graph</div>
  </div>
<% end %>