<content class='h-full py-5 px-14 pt-10 gap-10 grid grid-cols-5 grid-rows-3'>
  <div class='bg-base-300 border-2 rounded-box border-base-300 shadow-2xl col-span-3 row-span-3'>
    <%= render 'inventarios/_data_grid', locals: {pagy: @pagy, pedidos: @pedidos, ransack_query: @ransack_query} %>
  </div>
  <div class='col-span-2 row-span-1 grid grid-rows-2 gap-5 grid-cols-3'>
    <div data-controller='pedidos--status'
      class='flex gap-5 status-select flex-col justify-center bg-base-300 rounded-box shadow-2xl col-span-1 row-span-2'>
      <%= render partial: 'pedidos/status_form' %>
    </div>
    <%= render 'pedidos/stats', total: @metrics[:total], pending: @metrics[:pending], finished: @metrics[:finished] %>
  </div>
  <div class='col-span-2 flex bg-base-300 shadow-xl rounded-box p-8 justify-center items-center row-span-2'>
    <%= column_chart chart_pedidos_path, xtitle:'Lojas', ytitle:'Qtd. Pedidos', title: 'Pedidos p/unidade' , colors:
      ["#ca3336", "#1b4770" ], library: { plugins: { legend: { labels: { font: { size: 80 } }  }, color: '#166ab2' }, animation: { easing: 'easeOutQuart' } } %>
  </div>
</content>
