<%= content_for :header do %> 
  <%= link_to "Início", home_path %>/<%= link_to "Pedidos", pedidos_path %>
<% end %>

<div class='m-3 grid grid-cols-6 grid-rows-5 gap-4 h-[90vh]'>
  <div class="col-span-3 row-span-5 shadow-2xl">
    <%= render "pedidos/table" %>
  </div>
  <div class="col-span-3 row-span-2 shadow-2xl">
    other grid
  </div>
  <div class="shadow-2xl col-span-3 row-span-3">
    Graph
  </div>
</div>

