<div id='item_form' class='list_row grid grid-cols-5 '>
    <%= f.text_field :nome, class: 'border-gray-400', placeholder: 'Ex: Papel A4' %>
    <%= f.number_field :quantidade, class: 'border-gray-400', placeholder: 'Ex: 12' %>
    <%= f.text_field :porcao, class: 'border-gray-400', value:'', placeholder: 'Ex: Pct. de 10' %>
    <%= f.text_field :observacoes, class: 'border-gray-400', placeholder: 'Ex: Chamex' %>
    <button id='list_item' type="button" class='border-2 border-gray-400 hover:bg-red-400 duration-400 transition-colors duration-300 ease-in-out items-center justify-center flex' data-action='click -> pedidos--item-form#deleteRow'>
      <span class="mi">
        delete
      </span>
      <span>
        Apagar
      </span>
    </button>
</div>

