@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
  
.primary-100{
  background-color: #d2d4d7;
} 
.primary-200{
  background-color: #a6a9af;
} 
.primary-300{
  background-color: #797f86;
} 
.primary-400{
  background-color: #4d545e;
} 
.primary-500{
  background-color: #202936;
} 
.primary-600{
  background-color: #1a212b;
} 
.primary-700{
  background-color: #131920;
} 
.primary-800{
  background-color: #0d1016;
} 
.primary-900{
  background-color: #06080b;
} 
