@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.field_with_errors{
    display: flex;
    flex-direction: column;
}

.field_with_errors:has(>text-area){
    width: 100%;
}

.field_with_errors > select,
.field_with_errors > textarea,
.field_with_errors > input{
    border: red 1px solid;
}
