.enter {
    transition: opacity 300ms ease-out, transform 300ms ease-out;
    opacity: 0;
    transform: scale(0.9);
}
.enter-active {
    opacity: 1;
    transform: scale(1);
}
.leave {
    transition: opacity 300ms ease-in, transform 300ms ease-in;
    opacity: 1;
    transform: scale(1);
}
.leave-active {
    opacity: 0;
    transform: scale(0.9);
}
.field_with_errors > * {
    border-left: 2px;
    border-right: 2px;
    border-color: red;
}

