<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou a alteração da conta São Roque associada ao seu email. Caso não tenha efetuado essa operação ignore essa mensagem..</p>

<p>Caso seja você que fez o pedido, instruções para recuperação da senha seguem em: <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sua senha antiga não será excluida/expirada até a criação de uma nova, caso problemas persistam, entre em contato com a central.</p>
